<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css"> <!-- Link to the CSS file -->
    
    <link rel="stylesheet" href="style.css">
    <title>My App</title> <!-- What you will see at the header of tab -->
</head>
<body>
    <h1>Welcome to My App</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam rem illo esse quo sed quae earum consectetur qui facere, recusandae eum excepturi optio voluptas iste error molestiae dolosssrem necessitatibus!</p>
</body>
</html>